
Installed rocks:
----------------

alt-getopt
   0.8.0-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

argcheck
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

busted
   2.0.0-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

cwrap
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

dkjson
   2.5-2 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

dok
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

env
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

gnuplot
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

graph
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

image
   1.1.alpha-0 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

lpeg
   1.0.2-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

lua-cjson
   2.1devel-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

lua-term
   0.7-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

lua_cliargs
   3.0-2 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

luabitop
   1.0.2-3 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

luacov
   0.14.0-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

luaffi
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

luafilesystem
   1.6.3-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

luasec
   0.9-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

luasocket
   3.0rc1-2 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

luassert
   1.8.0-0 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

luasystem
   0.2.1-0 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

mediator_lua
   1.1.2-0 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

moonpick
   0.8-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

moonscript
   0.5.0-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

moses
   1.6.1-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

nn
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

nngraph
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

nnx
   0.1-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

optim
   1.0.5-0 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

paths
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

penlight
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

pgmoon
   1.10.0-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

say
   1.3-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

sundown
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

sys
   1.1-0 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

threads
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

torch
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

trepl
   scm-1 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

vert
   0.0.3-3 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

xlua
   1.0-0 (installed) - /Users/pp/torch/install/lib/luarocks/rocks

